@font-face {
  font-family: "Orbitron";
  src: url(./fonts/static/Orbitron-Regular.ttf) format('truetype');

}

body {
  padding: 0; 
  margin: 0;

  background: url(img/northernlights.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

* { 
  font-family: "Orbitron"; 
}

header {
  display: grid;
  font-size: 50px;
  color: white; 
  margin: auto;
}

form {
  margin: auto; 
}

input {
  font-size: 20px;
  font-weight: bold; 
  border: 0; 
  height: 50px; 
  border-radius: 50px;
  padding: 10px;
}

button {
  border: 0; 
  border-radius: 50px;
  padding: 5px 20px; 
  font-size: 20px; 
  margin-left: 50px;
  height: 50px; 
}

section {  
  height: 100%;
}

section > * {
  font-size: 25px; 
  width: 250px;  
}

img {
  width: 200px;
  position: relative;
  left: 50%;
  top: 25%; 
  margin: -100px; 
  animation: rotation 3s infinite forwards ease-in-out; 
}

@keyframes rotation {
  0% { 
    transform: rotate(0deg);
  }

  100% {
    transform : rotate(360deg);
  }
}

.card {
  display: none; 
  margin: 50px auto; 
  background-color: rgba(0, 0, 0, 0.6);
  width: 500px;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.card > * {
  text-align: center;
  color: white; 
  width: 300px;
  margin: auto;
  padding: 20px;
}

.name-div {
  font-size: 50px;
  border-bottom: 1px solid grey;
}

.descDiv, .tempDiv, .feelDiv{
  border-bottom: 1px solid grey;
} 